table{
  width: 100%;
  padding: 2rem;
  background-color: rgba(0,0,0.15);
}
td mat-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.loading-spinner{
  padding: 25px;
  background-color: rgba(0,0,0.15);
  display: flex;
  align-items:center;
  justify-content: center;
}

